.discover-page {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  overflow: hidden;

  &-title {
    padding: 0 42px;
    color: var(--primary-010);
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
  }
  &-content {
    width: 100%;
    margin-top: 42px;
    overflow-x: hidden;
  }
}

.section {
  &-head {
    padding: 0 28px 0 42px;
    height: 22px;
  }
  
  &-content {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    overflow-x: auto;
    margin-top: 24px;
    padding: 0 42px;
  }
}

.section-head {
  display: flex;
  justify-content: space-between;

  h2.section-title {
    color: var(--mono-800);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  .section-link-more {
    top: 24px;
    right: 30px;
    color: var(--primary-010);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
}

.section-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 338px;
  height: 200px;
  padding: 10px 20px;
  border-radius: 10px;
  background: linear-gradient(to top, #4d4d563b, #4d4d5600);
  color: #fff;
  text-align: center;
  line-height: 22px;

  &-name {
    font-size: 18px;
    font-weight: 600;
  }
  &-artist {
    font-size: 14px;
    font-weight: 400;
  }
}
