:root {
  --primary-010: #4343ef;

  --mono-000: #ffffff;
  --mono-010: #f0f0f5;
  --mono-030: #f9f9fb;
  --mono-050: #f4f6f6;
  --mono-080: #eef1f1;
  --mono-100: #d8dfdf;
  --mono-200: #a7b6b9;
  --mono-300: #89989c;
  --mono-400: #7d8d92;
  --mono-500: #76888f;
  --mono-600: #6c7e84;
  --mono-700: #57676b;
  --mono-800: #4d4d56;
  --mono-900: #24242e;
  --mono-990: #262d2e;
}
