.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
  background-color: var(--mono-000);

  &-logo {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 42px;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--mono-800);
  }
}

.sidebar-menu-title {
  display: flex;
  align-items: center;
  padding: 0 42px;
  color: var(--mono-900);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.sidebar-menu-list {
  //   margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-menu-link {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--mono-800);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

  @at-root .sidebar-menu-item.active & {
    font-weight: 600;
    color: var(--primary-010);
  }
}
